body {
  margin: 0;
  font-family: "Raleway", Verdana, Geneva, Tahoma, sans-serif;
}

button {
  border: 0;
  &:focus {
    outline: 0;
  }
}

.center {
  position: absolute;
  text-align: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
