@import "constants";

.infobar {
  position: relative;

  height: 100%;

  border-radius: 10px;
  font-size: 3vh;

  background-color: $primary-color;

  &--item {
    position: relative;
    color: white;
    text-align: center;
  }
}
