@import "buttonList";

.buttonList--list--indicator {
  &--inputOn {
    background-color: yellow;
  }

  &--inputOff {
    background-color: #ccffcc;
  }

  &--inputForcedOn {
    background-color: #cc66ff;
  }

  &--inputForcedOff {
    background-color: #eebbee;
  }
}
