@import "constants";

.main {
  margin: 0vh 2vh;
  height: 96vh;

  display: grid;
  grid-template-columns: 1fr 5fr 2fr;
  grid-template-rows: 1fr 5fr 6fr;
  grid-template-areas:
    "logos info ports"
    "logos coms ports"
    "table table ports";

  grid-gap: 5vh;
  &--logModal {
    &--title {
      width: 100%;
      text-align: center;
      background-color: $tertiary-color;
    }
  }
}

.infobar {
  grid-area: info;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.logos {
  grid-area: logos;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr;
  grid-gap: 5vh;
}

.coms {
  grid-area: coms;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  grid-gap: 5vh;
}

.table {
  grid-area: table;
}

.ports {
  grid-area: ports;

  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 11fr 6fr;
  grid-gap: 1vh;
}
