@import "constants";

.selfLearning {
  position: relative;

  height: 100%;

  box-shadow: 1vh 1vh 2vh rgba(0, 0, 0, 0.5);
  background-color: white;
  border-radius: 2vh;

  font-family: "Myriad Pro", "Gill Sans", "Gill Sans MT", Calibri, sans-serif;
  text-transform: uppercase;
  &--title {
    position: relative;
    height: 30%;
    text-align: center;

    border-radius: 2vh 2vh 0 0;
    background-color: $primary-color;

    color: white;
  }

  &--content {
    position: relative;
    height: 70%;

    font-size: 3vh;

    padding: 0 2vh;
  }

  &--indicator {
    height: 2vh;
    width: 2vh;
    right: 1vh;

    border-radius: 1vh;

    &--inProgress {
      background-color: yellow;
    }

    &--success {
      background-color: #3fd35d;
    }

    &--warning {
      background-color: #ffc000;
    }
  }

  &--modal {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 2vw;

    &--title {
      width: 100%;
      text-align: center;
      background-color: $tertiary-color;
    }
  }
}
