@import "constants";

.bm-item {
  display: inline-block;
  text-decoration: none;
  margin-bottom: 10px;
  color: white;
  transition: color 0.2s;
  font-size: 160%;
}

.menu-item--clickable {
  cursor: pointer;
}

.bm-item:hover {
  color: white;
}

.bm-burger-button {
  position: fixed;
  width: 36px;
  height: 30px;
  left: 18px;
  top: 18px;
}

.bm-burger-bars {
  background: #373a47;
}

.bm-cross-button {
  height: 24px;
  width: 24px;
}

.bm-cross {
  background: white;
}

.bm-menu {
  background: $primary-color;
  padding: 2.5em 1.5em 0;
  font-size: 1.15em;
}

.bm-morph-shape {
  fill: #373a47;
}

.bm-item-list {
  color: white;
}

.bm-overlay {
  background: rgba(0, 0, 0, 0.3);
}

.logForm {
  width: 55em;
  line-height: 2em;
  input {
    font-size: 120%;
  }
}
