@import "constants";

.tableCell {
  position: relative;

  color: white;

  &--title {
    position: relative;
    background-color: $primary-color;
    height: 40%;
    border-radius: 20px 20px 0 0;
    font-size: 4vh;
  }

  &--content {
    position: relative;
    background-color: $secondary-color;
    height: 60%;
    border-radius: 0 0 20px 20px;
    font-size: 5vh;

    &--input {
      border: none;
      font-size: 90%;
      text-align: center;

      &--numeric {
        width: 70%;
      }

      &--text {
        width: 90%;
      }

      &--select {
        width: 90%;
      }
    }

    button {
      background-color: $tertiary-color;
      font-size: 90%;
      width: 15%;
      padding: 1px 0;
    }
  }
}
